.categories {
  background: #FFFFFF;
  border-top: 1px solid #efefef;
  border-bottom: 1px solid #efefef;
  

  &__container {
    max-width: 1110px;
    margin: 0 auto;
  }

  &__list {
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: end;
    align-items: center;
    height: 79px;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 19px;
    

    .item {
      border: none;
      text-transform: uppercase;
      outline: none;
      background-color: transparent;
      margin-left: 40px;
      cursor: pointer;
    }
    
    .active {
      border: none;
      text-transform: uppercase;
      outline: none;
      background-color: transparent;
      color: rgb(230, 35, 103);
      margin-left: 40px;
      cursor: pointer;
    }
  }

  &__title {
    margin-right: auto;
    font-weight: 700;
    font-size: 36px;
    line-height: 50px;
  }
}
