.itemBlock {
  max-width: 330px;
  min-height: 350px;
  gap: 40px;
  background: #ffffff;
  border-radius: 20px;
  box-shadow: 0 5px 22px rgb(0 0 0 / 10%);
  padding: 20px;
  box-sizing: border-box;
  position: relative;

  &__liked {
    text-align: right;

    &:hover {
      color: red;
    }
    &:focus {
      color: red;
    }
    &:active {
      color: red;
    }
  }

  &__active {
    background-color: red;
  }

  &__img {
    width: 130px;
    height: 180px;
  }

  &__title {
    font-size: 15px;
  }
  a {
    text-decoration: none;
    color: black;
  }

  &__rating {
    position: absolute;
    bottom: 30px;
    display: flex;
    gap: 5px;
    align-items: center;
  }

  &__price {
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
  }

  &__cartContainer {
    position: absolute;
    bottom: 20px;
    right: 20px;
  }
}

.itemBlock:hover {
  transform: scale(1.1);
}
